@font-face {
  font-family: GothamLight;
  src: url("../fonts/Gotham-Light.otf") format("opentype");
}

$brand-main: #3dc0dc;
$braind-main-hover: #75dcf2;
$brand-grey: #ebebeb;
$brand-grey-dark: #7f7f7f;

body {
	
	height: 100%;
}

#page-wrap {
	height: 100%;
	width: 100%;
	position: absolute;
}

p a {
	color: #000;
	text-decoration: underline;
	font-weight: bolder;
		&:hover, &:focus {
			color: $brand-main;
		}
}

.row ul {
	padding-left: 17px;
}

.wordpress_icon {
	background: url('/img/icon_wordpress.svg') center center no-repeat;
	background-size: contain;
	display: block;
	width: 22px;
	height: 22px;
	float: left;
	margin: -3px 5px 0px 0px;
}

.modal-backdrop {
	background-color: #fff;
}


.modal-dialog {
	margin: 0px auto;
	.modal-content {
		border-radius: 0px;
		border: 0px;
	}
}

.modal-header {
	background-color: $brand-main;
		h4 {
			color: #fff;
			font-family: "museo-sans", sans-serif;
			font-weight: 100;
			font-size: 3rem;
		}
}

.modal-body {
	padding-top: 30px;
}

.modal-footer {
	margin-top: 30px;
}

.close {
	font-size: 35px;
}

.navbar-toggle {
	z-index: 1020;
	float: left;
	margin-left: 7px;
	margin-top: 11px;
	background-color: $brand-main;
	border-radius: 50%;
	padding: 9px 6px;
		.icon-bar {
			background-color: #000;
		}
}

.navmenu,
.navbar-offcanvas { 
width: 200px !important; 
}


.profile-pic {
	margin: 20px auto 0px auto;
	max-height: 400px;
}

.photocaption {
	font-size: 1.2rem;
	max-width: 295px;
	margin: 0px auto;
		a {
			color: #000;
			text-decoration: none;
				&:hover {
					color: $brand-main;
				}
		}
}

.smallprint {
	font-size: 1.2rem;
}

.btn-primary {
	border-radius: 0px;
	border: 0px;
	background-color: $brand-main;
		&:hover {
			background-color: $braind-main-hover;
		}
}

.logo {
	display: none;
}

.logo_mobile {
	height: 60px;
	background: $brand-main;
	display: block;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	padding: 10px 0px;
	margin: 0px -15px;
		a {
			height: 100%;
			width: 100%;
			display: block;
			background: url('/img/logo.png') center center no-repeat;
			background-size: contain;
			color: transparent;
			font-size: 0px;
		}
}


.navigation {
  	list-style: none;
  	margin-left: 0px;
  	padding-left: 0px;
	margin-top: 20px;
  	.nav-item {
  		overflow: hidden;
  			a {
  				font-size: 1.7rem;
  				height: 40px;
  				display: block;
  				color: #000000;
  				line-height: 40px;
  				transition: all 200ms;
  				padding: 0px 10%;
  				font-family: "museo-sans", sans-serif;
  				text-decoration: none;
  				font-weight: 100;
  					&.current {
  						background-color: #fff;
  						color: #000;
  						font-weight: 400;
  					}
  			}
  	}
}

/* Site Wrapper - Everything that isn't navigation */
#main-content{
		#guts {
			#top-section {
				text-align: center;
					h1 {
						font-family: "museo-sans", sans-serif;
						font-weight: 400;
						padding-left: 0px;
						font-size: 2.5rem;
					}
			}
			h2 {
				font-family: "museo-sans", sans-serif;
				font-weight: 400;
				color: $brand-main;
				font-size: 2rem;
				text-align: center;
				margin: 25px auto 10px auto;
			}
			h3 {
				font-family: "museo-sans", sans-serif;
				font-weight: 400;
				font-size: 1.7rem;
			}
		}
}






.thumbnail {
	background: $brand-grey;
	border-radius: 0px;
	border: 5px solid $brand-grey !important;
	margin: 7%;
		.caption {
			font-family: "museo-sans", sans-serif;
			font-weight: 400;
			overflow: hidden;
			font-size: 1.2rem;
			transition: all 200ms;
			text-decoration: none !important;
			height: 30px;
		}
		&:hover {
			border: 5px solid $brand-main !important;
			cursor: pointer;
			.caption {
				font-weight: bolder;
				text-decoration: none !important;
			}
		}
}

.footer_background {
	position: fixed;
	bottom: 0;
	margin: 0px 0px 5px 8%;
	width: 100%;
	z-index: 1050;
		footer {
			.copyright {
				font-family: "museo-sans", sans-serif;
				font-weight: 100;
				font-size: 1.2rem;
			}
		}
}

.form_line {
	margin-bottom: 10px;
		label {
			width: 40%;
		}
		input {
			width: 60%;
		}
}

.form_box {
	margin-top: 20px;
		label {
			width: 40%;
			vertical-align: top;
		}
		textarea {
			width: 60%;
		}
}

.submit_button {
	background-color: $brand-main;
	border: 0px;
	border-radius: 0px;
	color: #fff;
	float: right;
	margin-top: 10px;
	padding: 5px 15px;
		&:hover {
			background-color: $braind-main-hover;
		}
}


/* Medium devices (desktops, 480px and up) */
@media (min-width: 480px) {

#main-content {
	#guts {
		#top-section {
				h1 {
					font-size: 4.5rem;
				}
		}
		h2 {
			font-size: 3rem;
			text-align: left;
			margin: 20px 0px 20px 0px;
		}
	}
}


}


/* Medium devices (desktops, 768px and up) */
@media (min-width: 768px) {




.logo {
	height: 23%;
	border-bottom: 1px dashed #000;
	background: $brand-main;
	display: block;
			padding-left: 4.5px;
			padding-right: 15px;
		a {
			height: 100%;
			width: 100%;
			display: block;
			background: url('/img/logo.png') center center no-repeat;
			background-size: contain;
			color: transparent;
			font-size: 0px;
		}
}

.sidebar {
	width: 17% !important;
	height: 100%;
	background: $brand-grey !important;
	border-right: 0px !important;
}

.nav-trigger + label {
	display: none;
}

.navigation {
	.nav-item {
		a {
			padding-left: 15%;
  				&:hover {
  					font-size: 2.3rem;
  				}
		}
	}

}

.header_indent {
	h1 {
		padding-left: 9.7% !important;
	}
}

.corner_graphic {
	width: 8%;
	height: 15%;
	content: '';
	display: block;
	position: fixed;
	bottom: 20px;
	right: 20px;
	border-right: 3px solid $brand-main;
	border-bottom: 3px solid $brand-main;
}

#main-content {
	width: 83%;
	float: right;
	min-width: 0px;
	position: relative;
	height: 100%;
	padding-top: 0px;
		#guts {
			height: 100%;
				#top-section {
					height: 23%;
					padding: 0px;
					top: 0;
					display: flex;
					text-align: left;
					border-bottom: 1px solid $brand-grey;
						h1 {
							font-family: "museo-sans", sans-serif;
							font-size: 4rem;
							margin: 0px;
							padding-left: 11.5%;
							width: 100%;
							align-self: center;
							line-height: 100%;
							font-weight: 100;
							color: $brand-grey-dark;
						}
				}
		}
		h2 {
			font-size: 3rem;
			margin: 0px auto 25px auto;

		}
}

.row {
	padding: 0px 10%;
}

}

.footer_background {
	margin: 0px 0px 5px 2%;
}


/* Medium devices (desktops, 960px and up) */
@media (min-width: 960px) {



}


/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}