@font-face {
  font-family: GothamLight;
  src: url("../fonts/Gotham-Light.otf") format("opentype");
}

.hero_home {
	background: url('/img/slide_01.jpg') bottom left no-repeat;
	height: 300px;
		h1 {
			font-size: 1.5em;
			line-height: 1.2em;
			font-family: GothamLight, sans-serif;
			padding: 0px 20px;
		}
		p {
			font-size: 1em;
			line-height: 1.5em;
				span {
					color: #d84021;
				}
		}
}


/* Medium devices (desktops, 480px and up) */
@media (min-width: 480px) {
	.hero_home {
		h1 {
			font-size: 2em;
		}
	}

	.uk-navbar {
		height: 90px;
	  	.uk-navbar-nav {
	  		margin: 22px 0px 0px 0px;
	  			> li {
	  			margin-right: 15px;
	  			}
	  	}
	}

	.uk-navbar-brand {
		max-width: 300px;
		margin-top: 20px;
	}

	.uk-navbar-toggle: 90px;

}


/* Medium devices (desktops, 768px and up) */
@media (min-width: 768px) {

	.hero_home {
		background-size: 100% !important;
		height: 350px;
			h1 {
				font-size: 2.3em;
				line-height: 1.2em;
				padding: 0px 50px;
			}
			p {
				font-size: 1.5em;
			}
	}

}


/* Medium devices (desktops, 960px and up) */
@media (min-width: 960px) {

	.hero_home {
			h1 {
				font-size: 3em;
				line-height: 1.1em;
			}
			p {
				font-size: 1.5em;
			}
	}

}


/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}